<template name="Products">
 
	<div class="top-section">

		<div class="top-spacer">

		</div>

		<div class="top-menu">
			<div class="slashes"><i class="icon-lois-slashes"></i></div>

			<div class="menu-items">
				<div class="left item">shop</div>
				<div class="right item">makers</div>
			</div>

			<div class="centered-button white">
				<div class="button-text">L O I S</div>
			</div>

		</div>

	</div>

	<div class="products-grid">

		<div class="big box"><div class="category-container"><div class="category"></div><div class="text">L&nbsp;O&nbsp;I&nbsp;S exclusives</div></div></div>
		<div class="small box"><div class="category-container"><div class="category"></div><div class="text">Accessories</div></div></div>
		<div class="small box"><div class="category-container"><div class="category"></div><div class="text">Trousers</div></div></div>
		<div class="small box"><div class="category-container"><div class="category"></div><div class="text">Robots</div></div></div>
		<div class="small box"><div class="category-container"><div class="category"></div><div class="text">Geese</div></div></div>

	</div>

</template>
