<template name="Makers">

	<div class="main-page background-colour {{backgroundColour}}">
		
		<div class="top-bar flexbox v-center h-center no-h-margin">
			<div class="item w-1-1"><div class="background-ellipse {{nonBackgroundColour}} fade-out triple-size"><a href="">LOIS</a></div></div>
		</div>
		
		<div class="maker-name centered">
			<h1>{{name}}</h1>
		</div>

		<div class="maker-info container">
			<div class="flexbox wrap v-top">
				<div class="w-1-4 m-1-2-- shrink-1 grow-1">
					<div class="flexbox no-h-margin column">
						<video class="maker-video" autoplay>
						  <source src="videos/cat-video.mp4" type="video/mp4">
						  Your browser does not support the video tag.
						</video>				
					</div>
				</div>
				<div class="w-1-3 m-1-2-- shrink-5 grow-1">
					<div class="maker-bio">{{bio}}</div>
					<div class="centered"><div class="shop-button backing-box blue" data-action="change-colour"><span>Shop the Collection</span></div></div>
					<div class="flexbox wrap maker-wares">
						{{#each wares}}
							<div>{{name}}</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>

	</div>

</template>