<template name="Makers">

	<div class="top-section">

		<div class="top-spacer">

		</div>

		<div class="top-menu">
			<div class="slashes"><i class="icon-lois-slashes"></i></div>

			<div class="menu-items">
				<div class="left item">shop</div>
				<div class="right item">makers</div>
			</div>

			<div class="centered-button white">
				<div class="button-text">L O I S</div>
			</div>

		</div>

	</div>

	<div class="makers-grid">
		{{#each makers}}
			<div class="maker-icon">
				<div class="avatar-container">
					<div class="avatar" style="background-image: url('{{avatar}}')"></div>
				</div>
				<div class="name">{{name}}</div>
			</div>
		{{/each}}
	</div>

</template>