<template name="Home">

	<div class="background-image" style="background-image: url(images/{{image}})"></div>

	<div class="main-page flexbox column v-stretch a-stretch">
		
		<div class="top-bar w-1-5 size-1">
			<div class="flexbox h-center v-center a-center">
				<div class="item w-1-8"><div class="background-ellipse yellow"><a href="">About</a></div></div>
				<div class="item w-1-8"><div class="background-ellipse yellow"><a href="">Twitter</a></div></div>
				<div class="item w-1-8"><div class="background-ellipse yellow"><a href="">Instagram</a></div></div>
				<div class="item w-1-4"><div class="background-ellipse yellow triple-size"><a href="">LOIS</a></div></div>
				<div class="item w-3-8"><div class="background-ellipse yellow"><a href="">Sign up to the newsletter</a></div></div>
			</div>
		</div>
		
		<div class="splash-menu w-3-5 size-3 flexbox h-stretch v-center a-center">
				<div class="item w-1-3"><a href=""><div class="huge-text">Design</div><div>shop the collection</div></a></div>
				<div class="item w-1-3"><a href=""><div class="huge-text">Made</div><div>meet the designers</div></a></div>
				<div class="item w-1-3"><a href=""><div class="huge-text">Easy</div><div>coming soon!</div></a></div>
		</div>

		<div class="footer w-1-5 size-1">
			<div class="flexbox h-center v-center">
				<div class="item w-1-8"><div class="background-ellipse yellow"><a href="">About</a></div></div>
				<div class="item w-1-8"><div class="background-ellipse yellow"><a href="">Twitter</a></div></div>
				<div class="item w-1-8"><div class="background-ellipse yellow"><a href="">Instagram</a></div></div>
				<div class="item w-1-4"><div class="background-ellipse yellow triple-size"><a href="">LOIS</a></div></div>
				<div class="item w-3-8"><div class="background-ellipse yellow"><a href="">Sign up to the newsletter</a></div></div>
			</div>
		</div>

	</div>

</template>
