<template name="Home">

	<div class="top-spacer"></div>

	<div class="top-menu">
		<div class="slashes"><i class="icon-lois-slashes"></i></div>

		<div class="menu-items">
			<div class="left item">shop</div>
			<div class="right item">makers</div>
		</div>

		<div class="centered-button white">
			<div class="button-text">L O I S</div>
		</div>

	</div>

	<div class="splash-image" style="background-image: url('images/homepage_header_image.jpg');"></div>

	<div class="splash-button"><div class="centered-button yellow"><div class="button-text">Design</div></div></div>

	<div class="splash-image" style="background-image: url('images/homepage_design_section.jpg');"></div>

	<div class="splash-button"><div class="centered-button yellow"><div class="button-text">Made</div></div></div>

	<div class="splash-image" style="background-image: url('images/homepage_made_section.jpg');"></div>

	<div class="splash-button"><div class="centered-button yellow"><div class="button-text">Fun</div></div></div>

	<div class="splash-image" style="background-image: url('images/homepage_fun_section.jpg');"></div>

	<div class="splash-social"></div>

	<div class="splash-legal"></div>	

</template>
